body{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #F0F0F0;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    animation: anim 500ms;
}
.container .left{
    flex: 1;
    position: relative;
    background: url('../app_images/beautiful-city-9.jpg');
}
.container .left .wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
}
.container .left .wrapper{
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 100px;
    color: white;
    display: flex;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
   /*background: rgba(105,102,153,.3);*/
}
.container .left .wrapper h3{
    padding-bottom: 10px;
    margin: 0;
    font-size: 25px;
}
.container .left .wrapper p{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.container .right{
    flex: 1.5;
    box-sizing: border-box;
    padding: 20px;
}
.container .right .logo{
    text-align: right;
    font-size: 25px;
    margin-bottom: 20px;
}
.container .right .logo h5{
    margin:0;padding:0;
    color: black;
}
.container .right .logo h5 i{
    font-size: 30px;
    color: #0B508E;    
}
.container .right .main{
    display: flex;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
}
.container .right .main div{
    flex: 1;
    box-sizing: border-box;
    padding: 50px;
}
.container .right .main h3{
    flex: 1;
    color: #062A4A;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: lighter;
}
.container .right .main p{
    margin-bottom: 0;
}
a{
    color: #696699;
    text-decoration: none;
    transition: 150ms ease-in-out;
}
a:hover{
    color: #0B508E;
}
.container .right .main form{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.container .right .main form label{
    color: #062A4A;
    font-size: 20px;
    margin-bottom: 10px;
}
#RegisterBtn{
    box-sizing: border-box;
    padding: 15px;
    margin-top: 10px;
    border: none;
    color: white;
    background: #062A4A;
    transition: 300ms ease-in-out;
}
#RegisterBtn:hover{
    background: #0B508E;
}
.container .right .main form input{
    font-size: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    border: 1px solid #062A4A;
    border-radius: 5px;
}
.container .modal{
    font-family: 'Alegreya Sans SC', sans-serif;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 5;
    cursor: pointer;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.show{
    display: flex;
}
.hide{
    display: none;
}
.container .modal .inner{
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 30px 50px;
    max-width: 40%;
    background: white;
    margin-top: 20px;
}
.container .modal .inner h1, .container .modal .inner h3{
    margin:0;padding:0;
    color: #062A4A;
}
.container .modal .inner a{
    padding: 10px 20px;
    background: #062A4A;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 300ms ease-in-out;
}
.container .modal .inner a:hover{
    background: #0B508E;
}


@keyframes anim{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}


@media screen and (max-width: 768px){

    body{
        width: 100%;
        height: 100%;
        background: url('../app_images/beautiful-city-9.jpg');
    }
    .container{
        display: block;
    }
    .container .left{
        display: none;
    }
    .container .right{
        display: flex;
        flex-direction: column;
        background: rgba(0,0,0,.4);
        padding: 10px;
    }
    .container .right .logo{
        text-align: left;
        color: white;
    }
    .container .right .main{
        display: flex;
        justify-content: center;align-items: center;
        padding: 0px;
        overflow: hidden;
    }
    .container .right .main form input[type='text'],
    .container .right .main form input[type='email']
    {
        border: 1px solid #062A4A;
    }
    a{
        color: #062A4A;
        text-decoration: none;
        transition: 150ms ease-in-out;
    }
    .container .modal .inner{
        max-width: 80%;
        padding: 20px 10px;
    }
    .container .modal .inner a{
        margin-bottom: 30px;
    }
    .container .modal .inner h1, .container .modal .inner h3{
        margin: 0;
    }
}