body{
    font-family: 'Alegreya Sans SC', sans-serif;
    width: 100%;
    min-height: 100vh;
    margin : 0;
    padding: 0;
}
.cont{
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
}
.cont .sidebar{
    flex: 1;
    position: sticky;
    background: #010C17;
}
.cont .sidebar .dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 10px;
    font-size: 20px;
    background: rgba(0,0,0,.3);
    margin-bottom: 30px;
    transition: 300ms ease-in-out;
    cursor: pointer;
}
.cont .sidebar .dashboard:hover{
    background: #0B508E;
}
.cont .sidebar .dashboard h3{
    letter-spacing: 0px;
    text-align: left;
    color: white;
}
.division{
    font-family: 'Kodchasan', sans-serif;
    cursor: pointer;
}
.division .holder{
    flex: 1;
    align-items: center;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px 50px 10px 30px;
    display: flex;
}
.division .holder i{
    flex: 1;
    padding: 0;
    margin: auto;
    color: #BFC0C2;
    transition: 100ms ease-in-out;
}
.division .holder h4{
    flex: 5;
    font-size: 17px;
    margin: auto;
    text-align: left;
    padding: 0;
    color: #BFC0C2;
    transition: 100ms ease-in-out;
}
.division .holder h4 a{
    text-decoration: none;
    color: #BFC0C2;
}
.division .holder p{
    margin: auto;
    padding: 0;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    transition: 100ms ease-in-out;
}
.division .holder h4:hover,
.division .holder h4 a:hover,
.division .holder i:hover
{
    color: white;
}
.hidedrop{
    border-top: 1px solid #BFC0C2;
    border-right: 1px solid #BFC0C2;
}
.showdrop{
    border-bottom: 1px solid #BFC0C2;
    border-right: 1px solid #BFC0C2;
}
.division ul{
    margin-top: -10px;
    margin-bottom: 0;
    transform-origin: top;
    transition: 100ms ease-in-out;
}
.dropdown{
    height: 40px;
    color: #BFC0C2;
    list-style-type: none;
    display: flex;
    align-items: center;
    text-align: center;
}
.dropdown i{
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
    transition: 100ms ease-in-out;
}
.dropdown p{
    flex: 5;
    margin: auto;
    text-align: left;
    box-sizing: border-box;
    padding-left: 10px;
    transition: 100ms ease-in-out;
}
.dropdown p:hover,
.dropdown i:hover{
    color: white;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.main{
    box-sizing: border-box;
    padding: 20px 30px;
    flex: 3.5;
    background: #F0F0F0;
}
.main .top{
    border-radius: 10px 10px 0px 0px;
    background: white;
    box-sizing: border-box;
    padding: 20px 30px;
    display: flex;
}
.main .top .topLeft{
    flex: 1;
}
.main .top .topLeft h2{
    margin:0; padding:0;
}
.main .top .topLeft p{
    margin:0; padding:0;
}
.main .top i{
    flex: 1;
    margin: auto;
    color: #010C17;
    display: none;
}
.main #content{
    background: white;
    animation: anim 300ms;
}
.main #content .mainDash{
    /* border: 1px solid red; */
}
.main #content .mainDash .analysis{
    min-height: 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.main #content .mainDash .analysis .boxes{
    width: 22%;
    height: 6em;
    border-radius: 5px;
    background: #010C17;
    display: flex;
}
.main #content .mainDash .analysis .boxes i{
    flex: 1;
    text-align: center;
    margin: auto;
    color: #BFC0C2;
    font-size: 30px;
}
.main #content .mainDash .analysis .boxes .info{
    flex: 1;
    text-align: right;
    box-sizing: border-box;
    padding: 10px;
    color: white;
}
.main #content .mainDash .analysis .boxes .info h2{
    margin:0; padding:0;
    font-size: 30px;
}
.main #content .mainDash .analysis .boxes .info p{
    margin:0; padding:0;
}
.main #content .pic{
    display: flex;
    box-sizing: border-box;
    padding: 20px;
}
.main #content .pic .left{
    flex: 1;
    margin: auto;
    overflow: hidden;
}
.main #content .pic .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 10px;
}
.first{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.second{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cards{
    width: 47%;
    min-height: 90%;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
}
.cards i{
    flex: 1;
    margin: auto;
    text-align: center;
    font-size: 30px;
}
.cards .info{
    flex: 1;
    margin: auto;
    text-align: right;
    box-sizing: border-box;
    padding: 10px;
}
#f_reg{
    width: 100%;
    min-height: 450px;
    animation: anim 300ms; 
}
#f_reg .fff{
    display: flex;
    width: 100%;
    height: 100%;
    border-right: 1px solid white;
}
#f_reg .fff .left{
    flex: 1;
    display: flex;
    background-image: 
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    /* your image */
    url('../app_images/background5.jpg');
    background-position: center;
    justify-content: center;
    align-items: center;
    color: #BFC0C2;
    box-sizing: border-box;
    padding: 30px;
}
#f_reg .fff .left div{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}
#f_reg .fff .right {
    flex: 1.5;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
}
#f_reg .fff .right  div{
    flex: 1;
    box-sizing: border-box;
}
#f_reg .fff .right  h3{
    flex: 1;
    color: #062A4A;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: lighter;
}
#f_reg .fff .right  p{
    margin-bottom: 0;
}
a{
    color: #696699;
    text-decoration: none;
    transition: 150ms ease-in-out;
}
a:hover{
    color: #0B508E;
}
#f_reg .fff .right  form{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
}
#f_reg .fff .right  form label{
    color: #062A4A;
    font-size: 20px;
    margin-bottom: 10px;
}
#RegisterBtn{
    box-sizing: border-box;
    padding: 15px;
    margin-top: 10px;
    border: none;
    color: white;
    background: #062A4A;
    transition: 300ms ease-in-out;
}
#RegisterBtn:hover{
    background: #0B508E;
}
#f_reg .fff .right form input{
    font-size: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    border: 1px solid #062A4A;
    border-radius: 5px;
}
.showTemp{
    display: block;
}
.hideTemp{
    display: none;
}

#AddElection{
    box-sizing: border-box;
    padding: 20px 0px;
    flex: 3.5;
    background: #F0F0F0;
}
#AddElection .comb{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#AddElection .comb .left{
    flex-basis: 63%;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
}
#AddElection .comb .left h5{
    margin-bottom: 30px;
}
#AddElection .comb .left form{
    display: flex;
    flex-direction: column;
}
#AddElection .comb .left form .norm{
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}
#AddElection .comb .left form .norm input{
    box-sizing: border-box;
    padding: 10px 20px;
}
#AddElection .comb .left form .notnorm{
   display: flex;
   flex-direction: column;
}
#AddElection .comb .left form .notnorm input{
    box-sizing: border-box;
    padding: 10px 20px;
    height: 200px;
}
#AddElection .comb .right{
    flex-basis: 35%;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
}







.cont .modal{
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 100;
}
.cont .modal .inner{
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 30px 50px;
    max-width: 40%;
    background: white;
}
.cont .modal .inner h1, .cont .modal .inner h3{
    color: #062A4A;
}
.cont .modal .inner a{
    padding: 10px 20px;
    background: #062A4A;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: 300ms ease-in-out;
}
.cont .modal .inner a:hover{
    background: #0B508E;
}

@keyframes anim{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}


@media screen and (max-width: 768px){
    .cont .sidebar{
        position: fixed;
        height: 100%;
        z-index: 20;
    }
    .main{
        padding: 0;
    }
    .main .top{
        border-radius: 0;
    }
    .main .top i{
        text-align: right;
        display: block;
    }
    .main #content .mainDash .analysis{
        padding: 0px 20px;
    }
    .main #content .mainDash .analysis .boxes{
        width: 100%;
        margin-bottom: 10px;
        box-sizing: border-box;
        padding-left: 10px;
    }
    .main #content .mainDash .analysis .boxes:last-of-type{
        margin-bottom: 0;
    }
    .main #content .mainDash .analysis .boxes i{
        text-align: left;
    }
    .main #content .pic{
        display: block;
    }
    .main #content .pic .left{
        margin-bottom: 10px;
    }
    .main #content .pic .right{
        padding: 0;
    }
    .cards{
        width: 100%;
        max-height: 8em;
        box-sizing: border-box;
        padding-left: 20px;
        margin-bottom: 11px;
    }
    .cards i{
        text-align: left;
    }
    .first, .second{
        display: block;
    }
    .footer{
        background: #010C17;
        color: #BFC0C2;
    }
}